.card_container {
    background-color: var(--primary-color-2);
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    // height: 400px;

    display: flex;
    flex-direction: column;
    gap: 1rem;


    .card_header {
        display: flex;
        align-items: center;


        .card_avatar {
            height: 40px;
            width: 40px;
            border-radius: 50%;

            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }

        .card_username {
            margin-left: 0.75rem;
             p {
                font-size: 0.825rem;
                color: #FFF;
                opacity: 0.6;
                text-decoration: none;

                &:hover,
                &:focus {
                    opacity: 0.8;
                }
             }
        }

        .card_time {
            margin-left: auto;
            opacity: 0.6;
            font-size: 0.75rem;
        }
    }

    .card_title {
        h2 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 30px;
            opacity: 0.8;
        }
    }

    .card_subreddit {
        margin-bottom: 1rem;
        span {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: #f2cc8f;
            color: #000;
            font-size: 14px;
        }
        
    }

    .card_description {
        p {
            opacity: 0.6;
            line-height: 20px;
        }
    }

    .card_image, .card_video {
        height: 300px;

        img, video {
            height: 100%;
            width: 100%;
            border-radius: 0.75rem;
        }
    }

    .card_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card_likes {
            display: flex;
            align-items: center;

            padding: 0.5rem;
            border-radius: 1rem;
            background-color: var(--primary-color);

            .icon_up {
                &:hover {
                    color: #06d6a0;
                    cursor: pointer;
                }
            }

            .icon_down {
                &:hover {
                    color: #f72585;
                    cursor: pointer;
                }
            }
        }

        .card_comments {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            padding: 0.5rem;
            border-radius: 1rem;
            background-color: var(--primary-color);

            &:hover,
            &:focus {
                cursor: pointer;
                background-color: rgba(#8338ec, 0.3);
            }
        }
    }
}