@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.navbar_container {
    background-color: var(--primary-color-2);
    padding: 1rem;
    height: 80px;

    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 5px 10px var(--primary-color);

    .logo_container {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        font-family: "Reddit Mono", monospace;
        font-weight: 300;
    }

    .navbar_search {
        position: relative;
        display: flex;
        align-items: center;
        width: 150px;

        @media screen and (min-width: 480px) {
            min-width: 300px;
            width: 50%;
        }

        input[type=text] {
            background-color: var(--primary-color);
            border: none;
            outline: none;
            color: #FFF;
            padding: 0.75rem 1rem 0.75rem 40px;
            border-radius: 0.5rem;
            width: 100%;
            font-size: 1rem;
            letter-spacing: 1px;
        }

        button {
            background-color: inherit;
            cursor: pointer;
            outline: none;
            border: none;
            position: absolute;
            color: #FFF;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }
        
    }
}